@import "tailwindcss";

@import "./styles/produtos.css"; 

:root {

  --background: #ffffff; 
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
