.store-grid {
  width: 100%;
  margin: 40px auto;
  display: grid;
  justify-content: center;
  gap: 40px;

  /* Desktop: 6 colunas */
  grid-template-columns: repeat(6, 1fr);
}

/* Tablet */
@media (max-width: 1200px) {
  .store-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Mobile grande */
@media (max-width: 768px) {
  .store-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile pequeno */
@media (max-width: 550px) {
  .store-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
